* {
    box-sizing: border-box;
}

html,
body,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

header {
    background-color: #404146;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    gap: 60px;
    padding: 0px 30px;
}

.header-logo a {
    font-size: 1.2rem;
    letter-spacing: 5px;
    font-weight: 600;
    color: #FFFFFF;
}

.header-nav {
    display: flex;
    gap: 40px;
}

.header-nav a {
    font-size: 0.8rem;
    font-weight: 300;
    color: #ffffff;
    opacity: 0.9;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px;
}

.hero h1 {
    font-size: 80px;
    color: #404146;
    letter-spacing: 2px;
}

.hero h1 span {
    color: #F1D00E;
}

.hero p {
    font-size: 2rem;
    font-weight: 200;
    color: #404146;
    opacity: 0.9;
}

.hero img {
    width: 200px;
}

.about {
    padding: 80px;
    text-align: center;
    background-color: #F4F4F4;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #404146;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 80px;
}

.project h2 {
    color: #404146;
}

.project-wrapper {
    display: flex;
}

.project-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.project-item img {
    width: 70%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 80px;
    background-color: #F4F4F4;
    /* font-family: "Poppins", sans-serif; */
}

form h2 {
    margin-bottom: 10px;
    color: #404146;
}

form input[type=email] {
    width: 500px;
    height: 40px;
    border: none;
    border-radius: 10px;
    padding-left: 20px;
}

form textarea {
    width: 500px;
    height: 60px;
    border: none;
    border-radius: 10px;
    padding-left: 20px;
    padding-top: 15px;
}

form input[type=button] {
    margin-top: 10px;
    width: 300px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: #F7E989;
    color: #404146;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    background-color: #7C7D82;
}

.footer-logo a {
    font-size: 1.2rem;
    letter-spacing: 5px;
    font-weight: 600;
    color: #FFFFFF;
}

.footer-nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    text-align: center;
}

.footer-nav a {
    font-size: 0.8rem;
    font-weight: 300;
    color: #ffffff;
    opacity: 0.9;
}
